---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Aside from "../components/Aside.astro";
import Filter from "../components/Filter.astro";
import Card from "../components/Card.astro";
import PageController from "../components/PageController.astro";
import "../styles/title.scss";
import "../styles/slider.scss";
import "../styles/card.scss";
import "../styles/guide.scss";
---

<Layout title="歷屆推薦">
    <main>
        <div class="container breadcrumb">
            <nav>
                <a href="/">首頁</a> / <a href="/books">選書指南</a> / <a
                    href="/recommend">歷屆推薦</a
                >
            </nav>
        </div>

        <div class="container">
            <div class="guide recommend">
                <aside>
                    <Aside
                        all={false}
                        selection={false}
                        active={true}
                        type={"recommend"}
                    />
                </aside>

                <div class="main-content">
                    <div class="top-part">
                        <Title title={["歷屆推薦"]} classname="recommend" />

                        <Filter
                            search="第45次推介"
                            catebtn="書籍類別"
                            featured={true}
                        />
                    </div>

                    <div class="middle-part results">
                        {Array.from({ length: 20 }, (_, i) => <Card key={i} />)}
                    </div>

                    <div class="bottom-part page-controller">
                        <PageController />
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
